@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h4>Демо веб-приложения</h4>

Это приложение демонстрирует варианты Blazor-приложения и автономного
<a href="@openApiDocumentUrl" target="_blank"> веб-сервиса "Классификаторы"</a>,
которые разработаны на открытых технологиях .NET конца 2021 года.
Веб-сервис соответствует <a href="https://infdev.com.ua/standards/openapi/" target="_blank">спецификации OpenAPI</a>. 

<br /><br />

<Row ItemsPerRow="ItemsPerRow.Three">
    <Card IsCenter="true">
        <CardBody>
            <h5>Платформа разработки</h5>
            <a href="https://dotnet.microsoft.com/download/dotnet/6.0" target="_blank">.NET SDK 6.0</a><br />
            с <a href="https://visualstudio.microsoft.com/ru/vs/" target="_blank">Visual Studio 2022</a><br />
            на Windows 10+<br />
            с использованием <a href="https://github.com/GitHub">GitHub</a>
        </CardBody>
    </Card>

    <Card IsCenter="true">
        <CardBody>
            <h5>Среда выполнения</h5>
            <a href="https://dotnet.microsoft.com/download/dotnet/6.0" target="_blank" >ASP.NET Core Runtime 6.0</a><br />
            на Windows<br />
            Поддерживется также<br /> на Linux, macOS
        </CardBody>
    </Card>

    <Card IsCenter="true">
        <CardBody>
            <h5>База данных</h5>
            Используется Sqlite<br /><br />
            Также поддерживаются:<br />
            SqlServer, MySql, PostgreSQL
        </CardBody>
    </Card>
</Row>
<br />
<Row ItemsPerRow="ItemsPerRow.Two">
    <Card IsCenter="true">
        <CardBody>
            <h5>UI-фреймворк</h5>
            <a href="https://metanit.com/sharp/blazor/1.1.php" target="_blank">Blazor Server</a><br />
            Таже поддерживается работа в режиме <a href="https://docs.microsoft.com/ru-ru/aspnet/core/blazor/?view=aspnetcore-6.0" target="_blank">Blazor WebAssembly</a> 
            - одностраничного интерактивного приложения клиентской стороны
        </CardBody>
    </Card>

    <Card IsCenter="true">
        <CardBody>
            <h5>UI компоненты</h5>
            <a href="https://www.blazor.zone/" target="_blank">BootstrapBlazor</a><br />
            Набор компонентов пользовательского интерфейса корпоративного класса на основе Bootstrap и Blazor
        </CardBody>
    </Card>
</Row>

@code {
    private string openApiDocumentUrl;

    protected override async Task OnInitializedAsync() => 
        openApiDocumentUrl = Configuration.GetValue<string>("ApiGatewayClassifiers:OpenApiDocumentUrl");

}
