<Collapse>
    <CollapseItems>
        <CollapseItem Text="Об административно-территориальном устройстве (АТУ)" IsCollapsed=true>
            АТУ базируется на уровнях, категориях и единицах КАТОТТГ (современный КОАТУУ c 2021 года)<br />
            КАТОТТГ - кодифікатор адміністративно-територіальних одиниць та територій територіальних громад.<br />
            <a href="https://atu.decentralization.gov.ua/" target="_blank">Адміністративно-територіальний устрій України</a><br />
            В идентификаторах/кодах единиц АТУ начальный и конечный индекс определяет место кода в пределах соответстующего уровня.
            <img src="_content/BootstrapBlazorApp.Shared/images/atdunit-id.svg" /><br /><br />
            ATD - Administrative and territorial divisions.
        </CollapseItem>
    </CollapseItems>
</Collapse>
